@model Test.Entidades.T_Alumno

<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#alumno" role="tab" aria-controls="home" aria-selected="true">Alumnos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#editar" role="tab" aria-controls="profile" aria-selected="false">Editar</a>
    </li>
</ul>

<div class="tab-content mt-3 mb-5 p-2" id="myTabContent">
    <div class="tab-pane fade show active" id="alumno" role="tabpanel" aria-labelledby="home-tab">
        <div class="card p-3">
            <div class="card-header text-white bg-primary">
                <h3>@Model.Nombre @Model.Apellido</h3>
            </div>
            <div class="card-body">
                <b>Informacion personal</b>
                <hr />
                <p>
                    <b>Fecha de Nacimiento: </b>@Model.FechaDeNacimiento
                </p>
                <p>
                    <b>Sexo: </b>@(Model.Sexo == "M" ? "Hombre" : "Mujer")
                </p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="editar" role="tabpanel" aria-labelledby="profile-tab">
        @using (Html.BeginForm("Guardar", "Home", FormMethod.Post, new { id = "frm-alumno", @class = "mt-2" }))
        {
            @Html.HiddenFor(x => x.idAlumno)
            <div class="card mt-2">
                <div class="card-header bg-info text-white">
                    Datos Personal
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col">
                            @Html.LabelFor(x => x.Nombre)
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col">
                            @Html.LabelFor(x => x.Apellido)
                            @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Apellido, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Sexo)
                        <select name="Sexo" class="form-control">
                            <option @(Model.Sexo == "M" ? "selected" : "") value="M">Hombre</option>
                            <option @(Model.Sexo == "W" ? "selected" : "") value="W">Mujer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.FechaDeNacimiento, "Fecha De Nacimiento")
                        @Html.TextBoxFor(x => x.FechaDeNacimiento, new { @class = "form-control" })
                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" onclick="return confirm('ESTA SEGURO?')">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>


